.bg-custom-orange {
  background-color: #3b82f6 !important;
}

.header {
  position: relative;
  background-image: url("https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color: #3b82f6;
}
.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid #3b82f6;
  background: #3b82f6;
  color: #fff;
}

.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: #f97300;
  margin: 2em;
}
.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}
